/*!
 * effector 1.0
 *
 *
 * Designed by Tao Zhang
 * http://ztpala.com
 * inspired by http://effectortheme.tumblr.com/
 */

html, body {
    background-color: #E6EBEA;
}
header, nav {
    display: block;
}

.nav>a {
     margin:  0px 20px 0px 0px;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.wrapper p img {
    clear: both;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

body {
    margin: 0;
    font-family: 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #555;
}
a {
    color: #F95B1F;
    text-decoration: none;
}
a:hover {
    color: #A33B14;
    text-decoration: none;
}
p a {
    border-bottom: 1px dashed #CED1D1;
}
.container {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
}
p {
    margin: 0 0 14px;
    font-family: 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #555;
}
p small {
    font-size: 13px;
    color: #999;
}
.lead {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 200;
    line-height: 45px;
}
.tag-cloud span , .label span{
    vertical-align: super;
    font-size: 0.8em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #555;
    margin: 0;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #CED1D1;
}
h1 {
    line-height: 60px;
    font-size: 24px;
}
h2 {
    color:  #777;
    background-color: #F2F8F7;
    margin:  20px -20px;
    font-size:  20px;
    padding:  0px 20px;
    line-height:  35px;
}
h2 small {
    font-size: 18px;
}
h3 {
    line-height: 18px;
    font-size: 18px;
}
h3 small {
    font-size: 14px;
}
h4, h5, h6 {
    line-height: 15px;
}
h4 {
    font-size: 14px;
}
h4 small {
    font-size: 12px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
}
ul, ol {
    padding: 0;
    margin: 0 0 0px 25px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li {
    line-height: 30px;
}
ul.unstyled {
    margin-left: 0;
    list-style: none;
}
dl {
    margin-bottom: 30px;
}
dt, dd {
    line-height: 30px;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 14px;
}
hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #eee;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
.muted {
    color: #999;
}
abbr {
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 1px dotted #ddd;
    cursor: help;
}
blockquote {
    padding: 0 0 0 14px;
    margin: 0 0 30px;
    border-left: 5px solid #eee;
}
blockquote p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 34px;
    font-weight: 300;
    color:  #777;
}
blockquote small {
    display: block;
    line-height: 30px;
    color: #999;
}
blockquote small:before {
    content: '\2014 \00A0'}
blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 14px;
    border-left: 0;
    border-right: 5px solid #eee;
}
blockquote.pull-right p, blockquote.pull-right small {
    text-align: right;
}
table {
    border-collapse:collapse;
}
table ,th ,td {
  border: 1px solid #dddddd;
}
table td, table th
{
    padding:5px;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: ""}
address {
    display: block;
    margin-bottom: 30px;
    line-height: 30px;
    font-style: normal;
}
small {
    font-size: 100%}
cite {
    font-style: normal;
}
code {
    font-family: Monaco, Menlo, "Courier New", monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    white-space: nowrap;
}
pre code{
    display: block;
    padding: 8px;
    margin: 0 0 30px;
    line-height: 20px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    overflow: scroll;
    word-break: break-all;
}
.prettyprint.linenums{
    -webkit-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
    -moz-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
    box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
padding-left: 12px;
color: #bebec5;
line-height: 18px;
text-shadow: 0 1px 0 #fff;
}
.com {
    color: #93a1a1;
}
.lit {
    color: #195f91;
}
.pun, .opn, .clo {
    color: #93a1a1;
}
.fun {
    color: #dc322f;
}
.str, .atv {
    color: #D14;
}
.kwd, .linenums .tag {
    color: #1e347b;
}
.typ, .atn, .dec, .var {
    color: teal;
}
.pln {
    color: #48484c;
}

.pager {
    margin-left: 0;
    margin-bottom: 10px;
    list-style: none;
    text-align: center;
    *zoom: 1;
}
.pager:before, .pager:after {
    display: table;
    content: ""}
.pager:after {
    clear: both;
}
.pager li {
    display: inline;
}
.pager a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #f8f8f6;
    border: 1px solid #ddd;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
.pager a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}
.pager .next a {
    float: right;
}
.pager .previous a {
    float: left;
}
.label {
    padding: 4px 4px 3px 4px;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
a.label {
    color: #fff;
}
a.label:hover {
    background-color: #ababab;
}
a.label-info:hover {
    background-color:#5dade2;
}
a.label-inverse:hover {
    background-color: #415b76;
}
.label-important {
    background-color: #e74c3c;
}
.label-warning {
    background-color: #f1c40f;
}
.label-success {
    background-color: #2ecc71;
}
.label-info {
    background-color: #3498db;
}
.label-inverse {
    background-color: #34495e;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.sitename {
    font-size: 40px;
    font-weight: bold;
    color:  #333;
}
.wrapper  {
    background-color:  #fff;
    margin:  10px 0px 30px 0px;
    padding:  10px 20px;
    moz-border-radius:  5px;
    webkit-moz-border-radius:  5px;
     border-radius:  5px;
    -webkit-box-shadow:  0px 1px 3px #A8ABAB;
    -moz-box-shadow:  0px 1px 3px #A8ABAB;
    box-shadow:  0px 1px 3px #A8ABAB;
}

.postsList {
    margin: 0px 0px 10px 0px;
}

.postsList li{
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  border-bottom: 1px solid #eee;
}
.postsList li span{
    color: #bbb;
  float: right;
  font-size: 14px;
}

.footer {
    text-align: center;
}
.post-date {
    font-size: 0.9em;
    display: block;
    margin: -1rem 0 1rem;
    color: #ccc;
}

@media only screen and (max-width:768px) {
    .container {
    width:  auto;
    padding: 20px;
}
.sitename {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.wrapper  {
    background-color:  #fff;
    margin:  10px 0px 20px 0px;
}