---
layout: default
---
<div class="wrapper">
<article>
<h1><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h1>
<span class="post-date">{{ page.date | date:"%b %d, %Y" }}</span>
{{ content }}
</article>
<div>
{% for tag in page.tags %}
    <a class="label" href="/tag/#{{ tag }}">{{ tag }}</a>
{% endfor %} · <a href="https://twitter.com/share?url={{site.url}}{{page.url}}&amp;via=azalea&amp;text={{page.title}}" target="_blank" class="label label-info">发推评论</a> <a href="{{site:githubEditBaseURL}}{{ page.path }}" class="label label-inverse">编辑本文</a></div>
<hr>
<ul class="pager">
    {% if page.previous %}
    <li class="previous">
    <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    </li>
    {% endif %}
    {% if page.next %} 
    <li class="next">
    <a href="{{ page.next.url }}" class="pull-right">{{ page.next.title }} &rarr;</a>
    </li>
    {% endif %}   
</ul>
<hr>
<div id="disqus_thread"></div>
</div>
<script type="text/javascript">
    var disqus_shortname = '{{site.disqusShortname}}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
